asteval==0.9.12
backports.functools-lru-cache==1.5
cycler==0.10.0
kiwisolver==1.0.1
lmfit==0.9.11
matplotlib==2.0.2
numpy==1.15.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
scipy==1.1.0
six==1.11.0
subprocess32==3.5.2
uncertainties==3.0.2
